*,
*:after,
*:before {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

#container {
  width  : 70%;
  margin : 0 auto;
  display: flex;

  .stores {
    list-style  : none;
    width       : 150px;
    padding-top : 10px;
    margin-right: 10px;
    flex-shrink : 0;

    li {
      margin-bottom: 10px;
      padding      : 10px;
      border       : 1px solid #ccc;
      cursor       : pointer;
    }

    span {
      display: block;
    }
  }

  .map-wrapper {
    height   : 750px;
    flex-grow: 1;
  }
}